.page-header {
  .catalog {
    margin: 0 auto 80px;
    padding: 0;
    @extend %centered-flex;
    background-color: $bg-color;
    border: 1px solid white;

    .link {
      display: block;
      padding: 15px 35px;

      @extend %header-button;
      color: $text-white;
    }
  }
}

.catalog:hover {
  background-color: $bg-color-hover;
  .link {
    color: #333333;
  }
}
